# Google OAuth Credentials
GOOGLE_CLIENT_ID= 1073183169287-297usl24a59a8bvug82j0levg8oh7634.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://ais-dev-m42v6ietji4tzrcxypy4pv-683749337088.europe-west2.run.app/api/auth/google/callback
# Firebase Config (Optional, if needed server-side)
FIREBASE_PROJECT_ID=113535864137453362812
